<div class="cointainer-fluid bg-dark mt-2">
    <div class="row px-4 pt-4 text-center">
      <!-- <p>Useful Links</p> -->
      <div class="col-12">
        <a href="">Contact Us | </a> <a href="">Privacy Policy | </a> <a href="">Term of Use</a> 
        <br>
        <a href="">Guides | </a> <a href="">REPORT ABUSE | </a> <a href="">API Documentation</a>
        <br>
        <a href="">Press Realease | </a> <a href="">Follow Us on Twitter</a>
        <br>
        <button class="btn btn-warning my-1">Self Advertise</button>
        <br>
        <div class="d-flex justify-content-center">
          <i class="fab fa-telegram"></i> <i class="fab fa-facebook-square"></i> <i class="fab fa-twitter"></i> <i class="fab fa-reddit"></i> <i class="fab fa-medium"></i> <i class="fab fa-instagram"></i>
        </div>
        </div>
    </div>
  </div>