.changetheme button{
    color: #000;
}
.changetheme1{
    display: none;
}
.changetheme1 button{
    color: #fff;
}

/* .navbar-nav>li.nav-item>.dropdown-menu>a:hover{
    background-color: mediumslateblue;
} */