<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h4 class="h4">DEPOSIT & WITHDRAWALS HISTORY
      </h4>
      <p>All Coins deposited to and withdrawn from your Coinvit account</p>
      <p class="text-left"><b>DEPOSIT HISTORY</b></p>
      <table class="table table-sm">
          <thead>
            <tr>
              <th>Status(Confirmation)</th>
              <th>Coin</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
              <td>Empty</td>
          </tbody>
      </table>
      <p class="text-left"><b>WITHDRAWAL HISTORY</b></p>
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Status(Confirmation)</th>
            <th>Coin</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Empty</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>